body, html {
  background-color: #fcf3e3;
}

.row {
  margin: 0;
}

h4, h5, h6, ul, .blog-info, .sidebar {
  font-family: Arial;
  font-weight: bold;
  text-align: center;
}

/* Nav */

nav {
  background-color: #c3bfd8;
}

.nav-wrapper a {
  padding: 0px 10px 0px 10px;
  color: black;
}

.nav-wrapper li {
  transition: all 0.25s ease;
  border-bottom: 2px solid transparent;
}

.nav-wrapper li:hover {
  transition: all 0.25s ease;
  border-bottom: 2px solid #F4a258;
}

.brand-logo {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


/* Header */

.header {
  background-position: center top;
  padding: 20px 0px 20px 0px;
  text-align: center;
}

.header img {
  max-width: 25%;
}


/* Main */

.notification {
  border-radius: 50px;
  text-align: center;
  background-color: #708c69;
}

.achtung {
  color: darkred;
}

.main {
  padding: 25px 0px 25px 0px;
}

.card-panel-top{
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

.card-panel-bottom {
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

.staff-main .card-panel {
  margin-top: -5px;
}

.rocking{
  color: greenyellow;
}

.rules .chapter {
  border-top: 1px solid #e1e6ef;
  padding: 25px 0;
}
.mb-4, .my-4 {
  margin-bottom: 1.5rem !important;
}

.rules h3 .num {
    display: inline;
    position: static;
    font-weight: inherit;
    line-height: unset;
    cursor: pointer;
    color: var(--main-color);
}
.rules .num {
    position: absolute;
    display: block;
    width: 50px;
    top: 10px;
    left: 0;
    line-height: 28px;
    color: #171717;
    font-size: inherit;
    text-align: right;
}

.ver {
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
}

.ver .win {
  padding-right: 50%;
}
.ver .mac {
  padding-right: 0%;
}
.ver .lin {
  padding-left: 50%;
}
/* Footer */

.page-footer {
  background-color: #013d5a;
  color: white;
}

.page-footer .footer-copyright {
  background-color: #00334c;
  margin-top: 20px;
}

.page-footer a {
  color: #fff;
  transition: color .2s linear;
}

.page-footer a:hover {
  color: #3C91E6 !important;
}


/* Mobile Stuff */

@media screen and (max-width: 992px) {
  .header img {
    max-width: 50%;
  }
  .footer-content {
    padding-bottom: 20px;
  }
}

@media screen and (min-width: 993px) {
  .index-main {
    margin: 0px 60px 0px 60px;
  }
}
